/*
* @Author: Marte
* @Date:   2017-06-20 14:40:29
* @Last Modified by:   Marte
* @Last Modified time: 2017-06-20 15:12:39
*/
body{margin:0;padding:0;}
.w70{width:70%;}
.changePassword{background: #444 !important;}
.changeContainer{background-color: #fff;width: 400px;height:350px;margin: 100px  auto 0;margin-bottom: 0px;padding: 40px;padding-top: 20px;padding-bottom: 15px;}
.changeContainer>h1{text-align: center;color:#333;letter-spacing:2px;font-weight: normal;}
.changeContainer>div>div{display: inline-block;width:70%;height:40px;box-sizing: border-box;padding:5px 10px;line-height: 30px;margin-bottom:20px;margin-right:10px;border:1px solid #999;}
.changeContainer>div>div>input{outline: none;border:none;height:30px;padding:0;line-height:30px;width:140px;}
.changeContainer>div>div>span,.changeContainer>div>span{display: inline-block;padding:0;padding-right: 10px;height:30px;line-height:30px;}
.changeContainer>div>span{color:#f00;font-size: 14px;}
.changeContainer>div>span.errorts{display: none;}
.changeContainer>div.queren{height:40px;line-height:40px;margin-top: 18px;}
#queren{width:80%;margin-left: 10%;height:40px;display: inline-block;line-height: 40px;text-align: center;background:#eee;color:#000;cursor: pointer;}
.popup{position: fixed;left:42%;top:45%;width:200px;height:60px;;text-align: center;line-height:60px;background:rgba(0,0,0,0.3);}
div.hidden{display: none;}